@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', 'sans-serif';
    overflow: hidden;
}

.hidden{
    opacity: 0;
}

#main {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#prompt {
    color: white;
    font-size: 5vh;
    margin: auto;
    transition: opacity .3s ease-in;
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 9999;
    text-shadow: .1em .1em .2em rgba(0,0,0,.7);
}

#prompt p{
    margin: .5em 0em;
    transform: translateX(100%);
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

@keyframes scroll {
    100% { 
        transform: translateX(-100%); 
    }
}

.popper{
    margin: 0 .5em;
}

.post-container {
    position: absolute;
    opacity: 0;
    transition: opacity 1s linear, transform 10s ease-in;
}

.post-content {
    width: 100%;
    height: 100%;
}

.gif{
    vertical-align: top;
}

.text{
    padding: .1em;
    text-align: center;
    color: white;
    background-color: blue;
    overflow-wrap: break-word;
    font-size: 2.5em;
    border: 1px solid blue;
    vertical-align: bottom;
}

.slack-name {
    color: white;
    height: 20px;
    font-size: 1.5em;
    text-align: right;
}

.shrinking {
    animation: shrink cubic-bezier(.11,-0.14,1,.62);
}


@keyframes shrink {
    100% {
        transform: scale(0);
    }
}