@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap&subset=latin-ext');

:root {
  --max-scale: 200;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', 'sans-serif';
    overflow: hidden;
}

.hidden{
    opacity: 0;
}

#main {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: black;
    overflow: hidden;
}

#prompt {
    color: white;
    font-size: 5vh;
    margin: auto;
    transition: opacity .3s ease-in;
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 2147483638;
    text-shadow: .1em .1em .3em rgba(0,0,0,.4);
}

#prompt p{
    margin: .5em 0em;
    transform: translateX(100%);
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

@keyframes scroll {
    100% { 
        transform: translateX(-100%); 
    }
}

.popper{
    margin: 0 .5em;
}

.post-container {
    position: absolute;
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

.post-content {
    width: 100%;
    height: 100%;
}

.gif .post-content{
    vertical-align: top;
}

.text .post-content{
    padding: .1em;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
    font-size: 2.5em;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: .1em .1em .5em rgba(0,0,0,.1);
}

.text .post-content .slack-emoji{
    vertical-align: text-top;
    height: 1em;
}

.text .post-content :not(.slack-emoji){
    display: none;
}

.slack-name {
    color: white;
    height: 20px;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
}

.grow {
    animation: grow cubic-bezier(1, 0, .5, 1);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


@keyframes grow {
    100% {
        transform: scale(var(--max-scale));
    }
}

.text.grow {
    animation: textgrow cubic-bezier(1, 0, .73, .73);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes textgrow {
    99% {
        transform: scale(var(--max-scale));
        opacity: 1;      
    }
    100% {
        transform: scale( calc(var(--max-scale)*1.3) );
        opacity: 0;

    }
}
